.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#centered {
    position: relative;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: blue;
    background-image: url("/Assets/images/grassTile.avif");
    background-position: left top;
    background-repeat: repeat;
    background-size: 10%;
}

.animals_display {
    position: absolute;
    top: 270px;
    left: 400px;
    width: 550px;
    height: 270px;

    z-index: 1;
}

#label {
    background-color: aliceblue;
    border-radius: 2px;
}

.dino {
    width: auto;
    height: 50px;
}

.top-bar {
    display:contents;
    text-align: center;
    background-color: #ccc;
    font-size: 24px;
    color: #fff; 
}
.top-bar button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background-color:#a7a6f8d0;
}
.top-bar button:hover{
    background-color: #c7c6eed0;
}

#fences {
    position: relative;
}

.main_content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
body{
    background-image: url("/Assets/images/night-background.jpg");
    background-size: cover;
}
